/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
    --color-primary: hsl(271, 76%, 53%);
    --color-primary-light: hsl(271, 76%, 85%);
    --color-secondary: hsl(33 90% 75%);
    --color-secondary-dark: hsl(33 90% 25%);
    --color-white: #fff;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Comic Sans MS', Courier, monospace;
}

button {
    margin-top: 8px;
    padding: 8px 4px;
    min-width: 120px;
    background: none;
    border-radius: 8px;
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
    font-family: inherit;
    font-weight: 600;

    &:hover {
        cursor: pointer;
        color: var(--color-white);
        background-color: var(--color-primary);
    }
    &:disabled {
        cursor: not-allowed;
        font-weight: 500;
        color: var(--color-primary-light);
        border-color: var(--color-primary-light);
        background: none;
    }
    & + button {
        margin-left: 16px;
    }
}
