@use 'sass:map';
@use 'sass:list';

$-colors: (
    // light mode palette
    primary:
        (
            fg: (
                #171717,
                #0a0a0a,
                #404040,
                #737373,
                #a3a3a3,
                #e5e5e5,
                #fff,
            ),
            bg: (
                #0a0a0a,
                #fafafa,
                #fff,
            ),
        ),
    brand: (
        fg: (
            #4338ca,
            #4f46e5,
            #6366f1,
            #c7d2fe,
        ),
        bg: (
            #3730a3,
            #eef2ff,
        ),
    ),
    secondary: (
        fg: (
            #525252,
            #9ca3af,
        ),
        bg: (
            #e5e7eb,
            #d1d5db,
        ),
    ),
    tertiary: (
        fg: (
            #737373,
        ),
        bg: (
            #fafafa,
        ),
    ),
    neutral: (
        fg: (
            #a3a3a3,
        ),
        bg: (
            #f5f5f5,
            #f3f4f6,
            #f9fafb,
        ),
    ),
    // states
    error:
        (
            basic: (
                #dc2626,
                #fecaca,
                #fef2f2,
            ),
            emphasize: (
                #b91c1c,
                #991b1b,
            ),
        ),
    success: (
        fg: (
            #15803d,
            #bbf7d0,
        ),
        bg: (
            #f0fdf4,
        ),
    ),
    warning: (
        fg: (
            #a16207,
            #facc15,
            #fde68a,
        ),
        bg: (
            #fffbeb,
        ),
    )
);

@function getColor($path, $index) {
    @return list.nth(map.get($-colors, $path...), $index);
}
