:host {
    display: block;
    width: 100%;
    height: 100%;

    & > * {
        height: 40%;
        &:not(:last-child) {
            border-bottom: 2px solid black;
        }
    }
    button {
        height: auto;
    }
    .fibonacci {
        overflow-wrap: anywhere;
    }
}
